extends ./../layout/layout.pug
block variables
    - var row1 = [{ 'c': 'a058682', 'rs': null, 'cs': null, 'n': 1 }, { 'c': 'a044745', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a052237', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a052287', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a050067', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a053247', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a055330', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a050266', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a044746', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a045146', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a047639', 'rs': null, 'cs': null, 'n': null }]
    - var row2 = [{'c': 'Wing_NEW','rs': null, 'cs': null, 'n': 1}, {'c': 'a060767','rs': null, 'cs': null, 'n': 1}, {'c': 'a060769','rs': null, 'cs': null, 'n': 1}, {'c': 'a057864','rs': null, 'cs': null, 'n': null}, {'c': 'a057866','rs': null, 'cs': null, 'n': null}, {'c': 'Realto_NEW','rs': null, 'cs': null, 'n': 1}, {'c': 'a060590','rs': null, 'cs': null, 'n': null}, {'c': 'a056065','rs': null, 'cs': null, 'n': null}, {'c': 'a057268','rs': null, 'cs': null, 'n': null}, {'c': 'a057269','rs': null, 'cs': null, 'n': null}, {'c': 'a057267','rs': null, 'cs': null, 'n': null}]
    - var row3 = [{ 'c': 'a058072','rs': null, 'cs': null, 'n': null}, { 'c': 'a058073','rs': null, 'cs': null, 'n': null}, { 'c': 'a058068','rs': null, 'cs': null, 'n': null}, { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null},  { 'c': '','rs': null, 'cs': null, 'n': null}]
block pagetitle
    title Панель 4.2
    
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 4.2
                    
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each val in [row1,row2,row3]
                                +row(val)