extends ./../layout/layout.pug
block variables
    - var row1 = [{ 'c': 'a061309', 'rs': null, 'cs': null, 'n': 1}, {'c': 'Yolo_NEW', 'rs': null, 'cs': null, 'n': 1}, {'c': 'a061312', 'rs': null, 'cs': null, 'n': 1}]
    - var row2 = [{'c': 'a061312', 'rs': null, 'cs': null, 'n': 1}, {'c': 'Tybee_NEW', 'rs': null, 'cs': null, 'n': 1}, {'c': 'a061313', 'rs': null, 'cs': null, 'n': 1}]
    - var row3 = [{'c': 'Watford_NEW_ch', 'rs': null, 'cs': null, 'n': 1}, {'c': 'Watford_NEW_bl', 'rs': null, 'cs': null, 'n': 1}, {'c': 'Watford_NEW_gl', 'rs': null, 'cs': null, 'n': 1}]
    - var row4 = [{'c': 'a061310', 'rs': null, 'cs': null, 'n': 1}, {'c': 'a061304', 'rs': null, 'cs': null, 'n': 1}, {'c': 'a061311', 'rs': null, 'cs': null, 'n': 1}]
block pagetitle
    title Панель 6.4
    
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 6.4
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each val in [row1,row2,row3,row4]
                                +row(val)