extends layout/layout.pug
block variables
    - var row1 = [{ 'c': 'a052244', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052247', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a054930', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a054929', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a053946', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a061364', 'rs': 2, 'cs': null, 'n': 1 },{ 'c': 'a053450', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a051856', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a051857', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a051858', 'rs': 2, 'cs': null, 'n': null },{ 'c': 'a052857', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052856', 'rs': null, 'cs': null, 'n': null }]
    - var row2 = [{ 'c': 'a052248', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052250', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a053452', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052859', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052858', 'rs': null, 'cs': null, 'n': null }]
    - var row3 = [{ 'c': 'a052251', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052252', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a053316', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a053317', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a053947', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a055641', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a055642', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a051855', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a051859', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a051860', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052861', 'rs': null, 'cs': null, 'n': null },{ 'c': 'a052860', 'rs': null, 'cs': null, 'n': null }]
block pagetitle
    title Панель 1.1
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 1.1
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each item in [row1, row2, row3]
                                +row(item)