extends layout/layout.pug
block variables
    - var row1 = [{ 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '', 'rs': null, 'cs': null, 'n': null }, { 'c': '00000082767', 'rs': null, 'cs': null, 'n': null }]
    - var row2 = [{ 'c': 'a058466', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a059254', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a049362', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a055854', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a049361', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a055855', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058460', 'rs': null, 'cs': null, 'n': null }, { 'c': '00000082768', 'rs': null, 'cs': null, 'n': null }]
    - var row3 = [{ 'c': 'a058467', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058070', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058069', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a059251', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058069', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058068', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058461', 'rs': null, 'cs': null, 'n': null }, { 'c': '00000084966', 'rs': null, 'cs': null, 'n': null }]
block pagetitle
    title Панель 2.1
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 2.1
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each item in [row1,row2,row3]
                                +row(item)
            
