extends layout/layout.pug
block variables
    - var row1 = [{'c': 'a052292', 'rs': null, 'cs': null, 'n': null}, {'c': 'a052297', 'rs': null, 'cs': null, 'n': null}]
    - var row2 = [{'c': 'a052291', 'rs': null, 'cs': null, 'n': null}, {'c': 'a052294', 'rs': null, 'cs': null, 'n': null}]
    - var row3 = [{'c': 'a058086', 'rs': null, 'cs': null, 'n': null}, {'c': 'a058087', 'rs': null, 'cs': null, 'n': null}]
block pagetitle
    title Панель 3.3
    
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 3.3
                    
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each val in [row1,row2,row3]
                                +row(val)