extends ../src/layout/layout.pug
block variables
    - var row1 = [{'c': 'a057589', 'rs': 2, 'cs': null, 'n': null},{'c': 'a057590', 'rs': 2, 'cs': null, 'n': null},{'c': 'a057583', 'rs': 2, 'cs': null, 'n': null},{'c': 'a057584', 'rs': 2, 'cs': null, 'n': null},{'c': 'a058287', 'rs': null, 'cs': 2, 'n': null},{'c': 'a039164', 'rs': null, 'cs': 2, 'n': null},{'c': 'a056594', 'rs': null, 'cs': null, 'n': null},{'c': 'a055628', 'rs': null, 'cs': null, 'n': null}]
    - var row2 = [{'c': 'a058286', 'rs': null, 'cs': 2, 'n': null},{'c': 'a052871', 'rs': null, 'cs': 2, 'n': null},{'c': 'a056599', 'rs': null, 'cs': null, 'n': null},{'c': 'a055629', 'rs': null, 'cs': null, 'n': null}]
    - var row3 = [{'c': 'a060855', 'rs': 2, 'cs': null, 'n': null},{'c': 'a043958', 'rs': null, 'cs': null, 'n': null},{'c': 'a055361', 'rs': null, 'cs': null, 'n': null},{'c': 'a055362', 'rs': null, 'cs': null, 'n': null},{'c': 'a055428', 'rs': null, 'cs': null, 'n': null},{'c': 'a055427', 'rs': null, 'cs': null, 'n': null},{'c': 'a040512', 'rs': null, 'cs': 2, 'n': null},{'c': 'a038372', 'rs': null, 'cs': 2, 'n': null}]
    - var row4 = [{'c': 'a043957', 'rs': null, 'cs': null, 'n': null},{'c': 'a058942', 'rs': null, 'cs': null, 'n': null},{'c': 'a060540', 'rs': null, 'cs': null, 'n': null},{'c': 'a058939', 'rs': null, 'cs': null, 'n': null},{'c': 'a039998', 'rs': null, 'cs': null, 'n': null},{'c': 'a039169', 'rs': null, 'cs': 2, 'n': null},{'c': 'a037485', 'rs': null, 'cs': 2, 'n': null}]
block pagetitle
    title Панель 5.1
block content
    main
        .container-fluid
            .row
                .col-12.py-3
                    h2 Панель 5.1
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            +row(row1)
                            +row(row2)
                            +row(row3)
                            +row(row4)