extends layout/layout.pug
block variables
    - var row1 = [{ 'c': 'a058923', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a060167', 'rs': null, 'cs': null, 'n': 1 }, { 'c': 'a056333', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057471', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056270', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056229', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057160', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057157', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a043950', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a052253', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a039995', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a039990', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056369', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038827', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038824', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a043951', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a051822', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a048179', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038419', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038830', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057011', 'rs': null, 'cs': null, 'n': null }]
    - var row2 = [{ 'c': 'a056271', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056257', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056227', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057472', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057867', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056230', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057161', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057158', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a049994', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a052254', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056269', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056226', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056371', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a047185', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038537', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057007', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a051824', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a039957', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038416', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a051741', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057010', 'rs': null, 'cs': null, 'n': null }]
    - var row3 = [{ 'c': 'a056231', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056228', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056268', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057470', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057868', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056267', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057159', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a057156', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a049995', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a058892', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056335', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056334', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a056370', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a047186', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038539', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a040255', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a051823', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a039955', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a049672', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a038828', 'rs': null, 'cs': null, 'n': null }, { 'c': 'a032763', 'rs': null, 'cs': null, 'n': null }]
block pagetitle
    title Панель 7.3
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель 7.3
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each item in [row1,row2,row3]
                                +row(item)
                                
