extends ../src/layout/layout.pug
block pagetitle
    title Expo Меню
block content
    main.d-flex.align-items-center.justify-content-center.h-100
        ul.list-unstyled.me-5
            each val in ['1.1', '1.2', '2.1', '2.3', '7.1', '7.2', '7.3', 'P.6']
                li 
                    a(href=val+'.pug')='Панель ' + val
        ul.list-unstyled
            each val in ['3.1', '3.2', '3.3', '3.4', '4.1', '4.2', '5.1', '5.2', '5.3', '6.1', '6.2', '6.3', '6,4', 'P.1', 'P.2', 'P.3', 'P.4 + P.5 = P.5',]
                li='Панель ' + val

        p Нет фото: a062038 a062028 a062034