extends ./layout/layout.pug
block pagetitle
    title В пути
block content
    main
        .container-fluid
            .row
                .col-12.py-3
                    h2 В пути
                .col
                    .table-responsive
                            table.table.table-borderless.table-sm
                                tr(name="a061364")
                                    td
                                        img(src="images/a061364.jpg" class="img-fluid" alt="a061364")
                                tr(name="a060781")
                                    td
                                        img(src="images/a060781.jpg" class="img-fluid" alt="a060781")