extends layout/layout.pug
block variables
    - var row1 = [{'c': 'a060642', 'rs': null, 'cs': null, 'n': 1},{'c': 'a049112', 'rs': null, 'cs': null, 'n': null},{'c': 'a061526', 'rs': null, 'cs': null, 'n': 3},{'c': 'a056860', 'rs': null, 'cs': null, 'n': null},{'c': 'a058342', 'rs': null, 'cs': null, 'n': null}]
    - var row2 = [{'c': 'a060277', 'rs': null, 'cs': null, 'n': 1},{'c': 'a060890', 'rs': null, 'cs': null, 'n': 1},{'c': 'a057237', 'rs': null, 'cs': null, 'n': null},{'c': 'NEW_356_6', 'rs': null, 'cs': null, 'n': 1},{'c': 'a058346', 'rs': null, 'cs': null, 'n': null}]
    - var row3 = [{'c': 'a057565', 'rs': null, 'cs': null, 'n': 1},{'c': 'a050349', 'rs': null, 'cs': null, 'n': null},{'c': 'a052688', 'rs': null, 'cs': null, 'n': null},{'c': 'a054455', 'rs': null, 'cs': null, 'n': null},{'c': 'a054459', 'rs': null, 'cs': null, 'n': null}]
    - var row4 = [{'c': 'a058718', 'rs': null, 'cs': null, 'n': null},{'c': 'a057229', 'rs': null, 'cs': null, 'n': null},{'c': 'a058078', 'rs': null, 'cs': null, 'n': null},{'c': 'a058056', 'rs': null, 'cs': null, 'n': null},{'c': 'a057226', 'rs': null, 'cs': null, 'n': null}]
block pagetitle
    title Панель P.2
block content
    main
        .container-fluid
            .row
                .col-12.py-3.text-center
                    h5 Панель P.2
                .col
                    .table-responsive
                        table(class="table table-borderless table-sm")
                            each val in [row1,row2,row3,row4]
                                +row(val)