html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

td {
    text-align: center;
    background-color: #eaeaea!important;
    vertical-align: middle;
    border: 3px solid #fff;
    max-width: 150px;
    min-height: 150px;
    & > a {
        display: inline-block;
    }
}
img {
    max-width: 150px!important;
}
.main-list{
    columns: 3;
}
.offcanvas-body{
    ul{
        columns: 2;
    }
}
.footer{
    margin-top: auto;
}
