doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block pagetitle
        link(href="~/src/scss/styles.scss" rel="stylesheet")
        script(type="module" src="~/src/js/main.js")
    body
        header.header.py-2
            .container-fluid
                .row
                    .col
                        a(href="https://minimir.ru/")
                           img.logotype(src="https://minimir.ru/images/landings/strotskis-group-club/strotskis-group.svg", alt="strotskis-group")
                    .col 
                        a(href="/") Меню 
        block content
        footer.footer
            .container-fluid
                .row
                    .col 
                        small 2022
                    